body{
    background-color: lavender;
    font-family:  'Lucida Sans Unicode';
}
h1{
    font-family:  'Lucida Sans Unicode';
   
    font-size: 40px;
    padding: 10px;
    border: 10px;
    border-style: solid;
    border-radius: 20px;
    width: 50%;
    inline-size: 600px;
    text-align: center;
    margin: auto;

}
hr{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
}
button{
    font-family:  'Lucida Sans Unicode';
    border-radius: 5px;
}
#ace{
    width: 35%;
}
#rocky{
    width: 30%;
}
#groundhogs{
    width: 30%
}
#movie1{
    font-family:  'Lucida Sans Unicode';
}
#movie2{
    font-family:  'Arial';
}
#movie3{
    font-family: 'Times New Roman';
}
#movie4{
    font-family: 'Impact';